---
import "../styles/styles.sass"
import { Image } from "@astrojs/image/components"
import curveImage from "/public/pattern-curved-line-1.svg"
import heroImageDesktop from "/public/image-hero-portrait@2x.png"
import heroImageMobile from "/public/image-hero-landscape@2x.png"
import manImage from "/public/image-jeremy-large@2x.png"
import whiteCurveImage from "/public/pattern-curved-line-2.svg"
import patternBlur from "/public/pattern-blur.svg"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap" rel="stylesheet">
    
        <title>Suite Landing Page</title>
    </head>
    
    <Navbar />

    <div class="container">
        <div class="hero-container" role="banner" aria-labelledby="heroTitle">
            <div class="hero-text">
                <Image src={curveImage} alt="decorative curve image" loading="eager" />
                <h1 id="heroTitle">
                    <span class="no-wrap">A <strong>super solution</strong></span>
                    <br /> 
                    <span class="no-wrap">for your <strong>business.</strong></span>
                </h1>
                <p>
                    Our marketing and sales automations help you scale your outreach to get more
                    leads for your company.
                </p>
                <button class="solid">Request Beta Access</button>
            </div>
            <div class="hero-image">
                <Image
                    src={heroImageDesktop}
                    class="desktop"
                    alt="decorative hero image"
                    width="350"
                    height="600"
                    format="webp"
                    loading="eager" 
                />
                <Image
                    src={heroImageMobile}
                    class="mobile"
                    alt="decorative hero image"
                    format="webp"
                    loading="eager" 
                />
            </div>
            <div class="hero-stats">
                <div class="stat">
                    <h2>2K+</h2>
                    <p>Companies</p>
                </div>
                <div class="stat">
                    <h2>8</h2>
                    <p>Languages</p>
                </div>
                <div class="stat">
                    <h2>1.2M</h2>
                    <p>Leads</p>
                </div>
            </div>
        </div>
        <div class="mobile-stats" role="banner" aria-label="Product statistics">
            <div class="stat">
                <h2>2K+</h2>
                <p>Companies</p>
            </div>
            <div class="stat">
                <h2>8</h2>
                <p>Languages</p>
            </div>
            <div class="stat">
                <h2>1.2M</h2>
                <p>Leads</p>
            </div>
        </div>
        <main class="about-container">
            <div class="about-image-man">
                <Image
                    src={manImage}
                    alt="Man holding tablet"
                    width="360"
                    height="590"
                    format="webp"
                    loading="eager" 
                />
            </div>
            <div class="about-image-blur">
                <Image src={patternBlur} alt="Decorative blur pattern" width="500" height="500" loading="eager" />
            </div>
            <div class="about-image-curve">
                <Image src={whiteCurveImage} alt="Decorative curve image" width="64" height="52" loading="eager" />
            </div>
            <div class="about-text">
                <h2>It just <strong>works.</strong></h2>
                <div class="quote">
                    “I really like how it is an all-in-one solution that handle many of the tasks
                    that you would normally need separate tools to do the same job. This thing is a
                    miracle worker.”
                </div>
                <div>
                    <p class="name">Jeremy Robinson</p>
                    <p class="title">CMO, FYLO</p>
                </div>
            </div>
        </main>
    </div>
    <Footer />
</html>
